body {
	font-family: 'Lato', sans-serif;
	color: #6D7079;
	max-width: 1920px;
	letter-spacing: 0.35vw;
	font-weight: 700;
}

/*.border {
	border: 2px solid black
}*/

.row {
	/*margin: 0% 2.2145941756%;*/
}

.logo {
	width: 87.00191404%;
	margin: 0 auto;
}

.hline {
	border-bottom: 2px solid #dfc2ba;
}

.nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.nav ul a
{
	display:block;
	color:#6D7079;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	/*font-size: 0.7751079615vw;*/
	line-height:32px;
	padding:0 15px;
}

.nav ul li
{
	position:relative;
	float:left;
	margin: 0;
	padding:0px 10px;
	z-index:1000;
}

.nav ul li:hover
{
	background:#f6f6f6;
	opacity: 0.7;
}

.nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

.nav ul ul li
{
	float:none;
}

.nav ul ul a
{
	line-height:120%;
	padding:10px 15px
}

.nav ul li:hover > ul
{
	display:block;
	width: 133%;
}

.centered {
	text-align: center;
}

.carousel {
	padding: 0;
}

.contact-details {
	margin-top: 50px;
	font-weight: 700;
}

.contact-details h4 {
	font-size: 15px;
	font-weight: 700;
	border-bottom:	2px solid #dfc2ba;
	width: 100px;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.contact-details h5 {
	font-weight: 700;
	margin-bottom: 10px;
}

.contact-details form {
	margin-top: 30px;
}

.contact-details input {
	margin-top: 0;
	border: 0;
	width: 250px;
	border-bottom: 2px solid #dfc2ba;
	letter-spacing: 0.35vw;
}

.contact-details input:focus {
	outline: none;
	/*letter-spacing: normal;*/
}

.contact-image {
	margin: 0 auto;
	padding: 10% 0;
}

.insta {
	max-width: 24px;
	height: auto;
	display: inline;
	margin-right: 10px;
	margin-bottom: 10px;
}

.insta span {
	vertical-align: text-bottom;
	margin: 0;
}

.social {
	display: inline-block;
	margin-top: 10px;
	vertical-align: bottom;
}

.social img {
	max-width: 13%;
	height: auto;
	float: right;

}

.footer {
	margin-bottom: 15px;
}

.footer ul {
	list-style: none;
	float: left;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 0;
}

.footer li {
	float: left;
	display: block;
	padding: 0 20px;
	margin: 0 auto;
}

.footer a {
	color: #6D7079;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
}